.news-feed-item {
    padding: 0 2px 1rem;
}

.news-feed-item .news-feed-item-title {
    margin: 0 0 .1rem;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.news-feed-item .news-feed-item-title a {
    text-decoration: none;
}

.news-feed-item .news-feed-item-date {
    font-size: 11px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.news-feed-item .news-feed-item-body {
    font-size: 11px;
    line-height: 16px;
}

.news-feed-item .news-feed-item-body h1,
.news-feed-item .news-feed-item-body h2,
.news-feed-item .news-feed-item-body h3,
.news-feed-item .news-feed-item-body h4 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.news-feed-item .news-feed-item-body h1 {
    font-size: 18px;
}

.news-feed-item .news-feed-item-body h2 {
    font-size: 16px;
}

.news-feed-item .news-feed-item-body h3,
.news-feed-item .news-feed-item-body h4 {
    font-size: 14px;
}

.news-feed-item .news-feed-item-body a {
    color: #7A56DE;
    text-decoration: none;
}

.news-feed-item .news-feed-item-body img {
    border-radius: 2px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
