.news-feed-card{
    position: relative;
    text-decoration: none;
    color: var(--dark-40);
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    box-sizing: border-box;
    transition: 0.3s;
    border: 2px solid var(--grey-20);
}

.news-feed-card * {
    color: inherit;
}

.news-feed-card:hover {
    border-color:  var(--grey-40) !important;
}

.news-feed-card-date{
    position: absolute;
    background-color: white;
    box-shadow: 1.0px 1.9px 1.9px rgba(0, 0, 0, 0.47);
    padding: 10px;
    text-align: center;
    right: 12px;
    border-radius: 0px 0px 10px 10px;
}

.news-feed-card-cover{
    width: 100%;
}

.news-feed-card-cover img{
    width: 100%;
    height: 140px;
    /* aspect-ratio: 1/2; */
    object-position: center;
    object-fit: cover;
}

.news-feed-card-body{
    padding: 12px;
    font-size: 11px;
    position: relative;
    line-height: 16px;

}

.news-feed-card-body-content {
    max-height: 170px; /* Adjust this value as needed */
    overflow: hidden;
    position: relative;
}

.news-feed-card-body-content a,
.news-feed-card-body-content button,
.news-feed-card-body-content [tabindex] {
    pointer-events: none;
}

.news-feed-card-body-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px; /* Height of the gradient */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    pointer-events: none; /* Allows clicking through the gradient */
}

.news-feed-card-body h1,
.news-feed-card-body h2,
.news-feed-card-body h3,
.news-feed-card-body h4 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.news-feed-card-body h1 {
    font-size: 18px;
}

.news-feed-card-body h2 {
    font-size: 16px;
}

.news-feed-card-body h3,
.news-feed-card-body h4 {
    font-size: 14px;
}

.news-feed-card-body a {
    color: #7A56DE;
    text-decoration: none;
}