html, body, #root {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
  


.problem-message {
    padding: 6px 10px 7px;
    border-radius: 4px;
    line-height: 21px;
}

.problem-message a {
    text-decoration: none;
}